<a class="btn" href="javascript:document.getElementById('delete_form_{{ link.id }}').submit();">
  <i class="material-icons">
    delete_sweep
  </i>
</a>
<form method="post" action="{{ path('link_delete', {'id': link.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" id="delete_form_{{ link.id }}">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ link.id) }}">
</form>
